# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/osx-64/aws-c-common-0.6.2-h0d85af4_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/blas-1.0-mkl.conda
https://conda.anaconda.org/conda-forge/osx-64/bzip2-1.0.8-h0d85af4_4.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/c-ares-1.18.1-h0d85af4_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/ca-certificates-2021.10.8-h033912b_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/giflib-5.2.1-haf1e3a3_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/intel-openmp-2021.3.0-hecd8cb5_3375.conda
https://repo.anaconda.com/pkgs/main/osx-64/jpeg-9d-h9ed2024_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/libcxx-12.0.0-h2f01273_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libev-4.33-haf1e3a3_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libgfortran-3.0.1-h93005f0_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libsodium-1.0.18-hbcb3906_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libutf8proc-2.6.1-h35c211d_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libwebp-base-1.2.0-h9ed2024_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pandoc-2.16-h0d85af4_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2021a-h5d7bf9c_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/xz-5.2.5-h1de35cc_0.conda
https://conda.anaconda.org/conda-forge/osx-64/yaml-0.2.5-haf1e3a3_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/zlib-1.2.11-h1de35cc_3.conda
https://conda.anaconda.org/conda-forge/osx-64/abseil-cpp-20210324.1-he49afe7_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/aws-checksums-0.1.11-h0010a65_7.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/brotli-1.0.9-hb1e8313_2.conda
https://conda.anaconda.org/conda-forge/osx-64/gflags-2.2.2-hb1e8313_1004.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libffi-3.3-hb1e8313_2.conda
https://repo.anaconda.com/pkgs/main/osx-64/libpng-1.6.37-ha441bb4_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libprotobuf-3.16.0-hcf210ce_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/lz4-c-1.9.3-h23ab428_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/mkl-2021.3.0-hecd8cb5_517.conda
https://repo.anaconda.com/pkgs/main/osx-64/ncurses-6.2-h0a44026_1.conda
https://conda.anaconda.org/conda-forge/osx-64/openssl-1.1.1l-h0d85af4_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/re2-2021.04.01-he49afe7_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/snappy-1.1.8-hb1e8313_3.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/tk-8.6.11-h7bc2e8c_0.conda
https://conda.anaconda.org/conda-forge/osx-64/zeromq-4.3.4-he49afe7_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/aws-c-cal-0.5.11-hd2e2f4b_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/freetype-2.10.4-ha233b18_0.conda
https://conda.anaconda.org/conda-forge/osx-64/glog-0.5.0-h25b26a9_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/grpc-cpp-1.38.0-h25f885f_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libedit-3.1.20191231-h0678c8f_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libevent-2.1.10-h815e4d9_4.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libnghttp2-1.43.0-h6f36284_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libssh2-1.10.0-h52ee1ee_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/readline-8.1-h9ed2024_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/zstd-1.4.9-h322a384_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-io-0.10.5-h35aa462_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/krb5-1.19.2-hcfbf3a7_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libthrift-0.14.1-hab56fdc_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libtiff-4.2.0-h87d7836_0.conda
https://conda.anaconda.org/conda-forge/osx-64/orc-1.6.7-h590cbdb_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/sqlite-3.36.0-hce871da_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-event-stream-0.2.7-hb9330a7_13.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/lcms2-2.12-hf1fd2bf_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libcurl-7.79.1-hf45b732_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libwebp-1.2.0-hacca55c_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/python-3.9.7-h88f2d9e_1.conda
https://conda.anaconda.org/conda-forge/noarch/argh-0.26.2-pyh9f0ad1d_1002.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/astor-0.8.1-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/async_generator-1.10-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/attrs-21.2.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/aws-sdk-cpp-1.8.186-h766a74d_3.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/backcall-0.2.0-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/backports-1.0-py_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/base58-2.1.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/blinker-1.4-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/cachetools-4.2.4-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/charset-normalizer-2.0.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/click-7.1.2-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/decorator-5.1.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/defusedxml-0.7.1-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/dill-0.3.4-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/entrypoints-0.3-pyhd8ed1ab_1003.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/idna-3.1-pyhd3deb0d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ipython_genutils-0.2.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jmespath-0.10.0-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/json5-0.9.5-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyterlab_widgets-1.0.2-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/kiwisolver-1.3.1-py39h23ab428_0.conda
https://repo.anaconda.com/pkgs/main/noarch/munkres-1.1.4-py_0.conda
https://conda.anaconda.org/conda-forge/noarch/nest-asyncio-1.5.1-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/olefile-0.46-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/pandocfilters-1.5.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/parso-0.8.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pickleshare-0.7.5-py_1003.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/prometheus_client-0.12.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ptyprocess-0.7.0-pyhd3deb0d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pycparser-2.20-pyh9f0ad1d_2.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/pyparsing-2.4.7-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/python-tzdata-2021.5-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/python_abi-3.9-2_cp39.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/pytz-2021.3-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/send2trash-1.8.0-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/six-1.16.0-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/smmap-3.0.5-pyh44b312d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/testpath-0.5.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/toml-0.10.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/toolz-0.11.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/tornado-6.1-py39h9ed2024_0.conda
https://conda.anaconda.org/conda-forge/noarch/traitlets-5.1.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/typing_extensions-3.10.0.2-pyha770c72_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/webencodings-0.5.1-py_1.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/wheel-0.37.0-pyhd3eb1b0_1.conda
https://conda.anaconda.org/conda-forge/noarch/zipp-3.6.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/appnope-0.1.2-py39h6e9494a_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/babel-2.9.1-pyh44b312d_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/certifi-2021.10.8-py39h6e9494a_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/cffi-1.14.6-py39hb71fe58_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/chardet-4.0.0-py39h6e9494a_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/cycler-0.10.0-py39hecd8cb5_0.conda
https://conda.anaconda.org/conda-forge/osx-64/debugpy-1.4.1-py39h9fcab8e_1.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/fonttools-4.25.0-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/gitdb-4.0.9-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/importlib-metadata-4.8.1-py39h6e9494a_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/jedi-0.18.0-py39h6e9494a_3.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/jupyter_core-4.9.1-py39h6e9494a_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/markupsafe-2.0.1-py39h89e85a6_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/matplotlib-inline-0.1.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/mistune-0.8.4-py39h89e85a6_1005.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/mkl-service-2.4.0-py39h9ed2024_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/multiprocess-0.70.12.2-py39h9ed2024_0.conda
https://conda.anaconda.org/conda-forge/noarch/packaging-21.2-pyhd8ed1ab_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pexpect-4.8.0-pyh9f0ad1d_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pillow-8.4.0-py39h98e4679_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pyrsistent-0.17.3-py39h89e85a6_3.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pysocks-1.7.1-py39h6e9494a_4.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/python-dateutil-2.8.2-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pytz-deprecation-shim-0.1.0.post0-py39h6e9494a_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pyyaml-6.0-py39h89e85a6_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pyzmq-22.3.0-py39h7fec2f1_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/sniffio-1.2.0-py39h6e9494a_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/terminado-0.12.1-py39h6e9494a_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/validators-0.18.2-pyhd3deb0d_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/websocket-client-0.57.0-py39h6e9494a_5.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/anyio-3.3.4-py39h6e9494a_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/argon2-cffi-21.1.0-py39h89e85a6_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/brotlipy-0.7.0-py39h89e85a6_1001.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/cryptography-35.0.0-py39h209aa08_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/gitpython-3.1.24-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jinja2-3.0.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyter_client-7.0.6-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/numpy-base-1.21.2-py39he0bd621_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/setuptools-58.0.4-py39hecd8cb5_0.conda
https://conda.anaconda.org/conda-forge/osx-64/tzlocal-4.1-py39h6e9494a_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/watchdog-2.1.6-py39h9c2f2d1_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/backports.functools_lru_cache-1.6.4-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/bleach-4.1.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jsonschema-4.1.2-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pip-21.2.4-py39hecd8cb5_0.conda
https://conda.anaconda.org/conda-forge/osx-64/protobuf-3.16.0-py39h9fcab8e_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pygments-2.10.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyopenssl-21.0.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyterlab_pygments-0.1.2-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/nbformat-5.1.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/urllib3-1.26.7-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/wcwidth-0.2.5-pyh9f0ad1d_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/botocore-1.22.8-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/nbclient-0.5.4-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/prompt-toolkit-3.0.21-pyha770c72_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/requests-2.26.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/ipython-7.29.0-py39h71a6800_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/nbconvert-6.2.0-py39h6e9494a_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/s3transfer-0.5.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/boto3-1.19.8-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/ipykernel-6.4.2-py39h71a6800_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyter_server-1.11.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyterlab_server-2.8.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/notebook-6.4.5-pyha770c72_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/nbclassic-0.3.4-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/widgetsnbextension-3.5.2-py39h6e9494a_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ipywidgets-7.6.5-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyterlab-3.2.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/parquet-cpp-1.5.1-2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pydeck-0.7.0-pyh6c4a22f_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/arrow-cpp-1.0.1-py39h6aa44ab_40_cpu.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pyarrow-1.0.1-py39hc3b5b9c_40_cpu.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/bottleneck-1.3.2-py39he3068b8_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/matplotlib-3.4.3-py39hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/matplotlib-base-3.4.3-py39h0a11d32_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/mkl_fft-1.3.1-py39h4ab4a9b_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/mkl_random-1.2.2-py39hb2f4e1b_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/numpy-1.21.2-py39h4b4dc7a_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/numexpr-2.7.3-py39h5873af2_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/scipy-1.7.1-py39h88652d9_2.conda
https://repo.anaconda.com/pkgs/main/osx-64/pandas-1.3.3-py39h5008ddb_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/patsy-0.5.2-py39hecd8cb5_0.conda
https://conda.anaconda.org/conda-forge/noarch/altair-4.1.0-py_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/statsmodels-0.13.0-py39hca72f7f_0.conda
https://conda.anaconda.org/conda-forge/noarch/streamlit-0.84.1-pyhd8ed1ab_0.tar.bz2
